@font-face { 
    font-family: 'Formula Bold'; 
    src: url('PPFormulaCondensed-Bold.otf'); 
  } 
  @font-face {
    font-family: 'TT Hoves Regular';
    src: url('TTHoves-Regular.ttf');
  }
  @font-face {
    font-family: 'TT Hoves DemiBold';
    src: url('TTHoves-DemiBold.ttf');
  }
  
  
  h1.stroke {
      /* Prefix required. Even Firefox only supports the -webkit- prefix */
      -webkit-text-stroke-width: 1.5px;
      -webkit-text-stroke-color: #b4b4b4;
    }
  
.headerfont {
    font-family: 'Formula Bold', sans-serif;
}

.textfont {
    font-family: 'TT Hoves DemiBold', sans-serif;
}

.textfontthin {
    font-family: 'TT Hoves DemiBold', sans-serif;
}

.scrollbarhide {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

.scrollbarhide::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}